<div class="box">
  <div class="box-body table-responsive">
    <table  class="table table-bordered table-hover">
      <thead>
      <tr>
          <th>备份名称</th>
          <th>压缩</th>
          <th>数据大小</th>
          <th>备份时间</th>
          <th>操作</th>
      </tr>
      </thead>
      
      {notempty name='list'}
        <tbody>
            {volist name='list' id='vo'}
                <tr>
                  <td>{$vo.time|date='Ymd-His',###}</td>
                  <td>{$vo.compress}</td>
                  <td>{$vo.size|format_bytes}</td>
                  <td>{$key}</td>
                  <td style="width: 200px;">
                      <ob_link><a class="btn confirm ajax-get" href="{:url('dataRestoreHandle?time='.$vo['time'])}" class="btn"><i class="fa fa-exchange"></i> 还 原</a></ob_link>
                      &nbsp;
                      <ob_link><a class="btn confirm ajax-get" href="{:url('backupDel?time='.$vo['time'])}"><i class="fa fa-trash-o"></i> 删 除</a></ob_link>
                  </td>
                </tr>
            {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="5" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
      {/notempty}
    </table>
  </div>
</div>