<div class="lockscreen-footer">
    <ob_link><a class="btn batch_btn confirm ajax-post" value="{$Think.DATA_NORMAL}"  href="{:url('setStatus')}"><i class="fa fa-check-circle"></i> 启 用</a></ob_link>
    <ob_link><a class="btn batch_btn confirm ajax-post" value="{$Think.DATA_DISABLE}" href="{:url('setStatus')}"><i class="fa fa-times-circle"></i> 禁 用</a></ob_link>
    <ob_link><a class="btn batch_btn confirm ajax-post" value="{$Think.DATA_DELETE}"  href="{:url('setStatus')}"><i class="fa fa-trash"></i> 删 除</a></ob_link>
</div>