<div class="row">

<div class="col-md-6">
    <div class="box">
        <div class="box-header">
          <h3 class="box-title">系统信息</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <table class="table table-striped">
            <tbody>
                
            <tr>
              <td>OneBase版本</td>
              <td>{$info['ob_version']}</td>
            </tr>  
<!--            <tr>
              <td>ThinkPHP版本</td>
              <td>{$info['think_version']}</td>
            </tr>-->
            <tr>
              <td>操作系统</td>
              <td>{$info['os']}</td>
            </tr>
            <tr>
              <td>运行环境</td>
              <td>{$info['software']}</td>
            </tr>
            <tr>
              <td>MySql版本</td>
              <td>{$info['mysql_version']}</td>
            </tr>
            <tr>
              <td>PHP版本</td>
              <td>{$info['php_version']}</td>
            </tr>
<!--            <tr>
              <td>上传限制</td>
              <td>{$info['upload_max']}</td>
            </tr>-->
          </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
          <!-- /.box -->

          <!-- /.box -->
    </div>



<div class="col-md-6">
    
    <div class="box">
        <div class="box-header">
          <h3 class="box-title">产品信息</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <table class="table table-striped">
            <tbody>

            <tr>
              <td>产品名称</td>
              <td>{$info['product_name']}</td>
            </tr> 
            <tr>
              <td>产品设计及研发团队</td>
              <td>{$info['author']}</td>
            </tr>
            <tr>
              <td>官方网址</td>
              <td><a target="_blank" href="http://{$info['website']}">{$info['website']}</a></td>
            </tr>
            <tr>
              <td>QQ交流群</td>
              <td>{$info['qun']}</td>
            </tr>
            <tr>
              <td>开发手册</td>
              <td>{$info['document']}</td>
            </tr>
          </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
</div>
  
  </div>