<form action="{:url()}" method="post" class="form_single">
    <div class="box">
      <div class="box-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>用户名</label>
              <span>（用户名，主要用于登录）</span>
              <input class="form-control" name="username" placeholder="请输入用户名" value="{$info['username']}" type="text">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>昵称</label>
              <span>（会员昵称，主要用于显示）</span>
              <input class="form-control" name="nickname" placeholder="请输入昵称" value="{$info['nickname']}" type="text">
            </div>
          </div>
 
          <div class="col-md-6">
            <div class="form-group">
              <label>邮箱</label>
              <span>（用户邮箱，用于找回密码等安全操作）</span>
              <input class="form-control" name="email" placeholder="请输入邮箱" value="{$info['email']}" type="text">
            </div>
          </div>
 
          <div class="col-md-6">
            <div class="form-group">
              <label>手机</label>
              <span>（手机号码，用于找回密码等安全操作）</span>
              <input class="form-control" name="mobile" placeholder="请输入手机号码" value="{$info['mobile']}" type="text">
            </div>
          </div>
    
        </div>
      </div>
      <div class="box-footer">
        
        <input type="hidden" name="id" value="{$info['id']|default='0'}"/>
          
        {include file="layout/edit_btn_group"/}
        
      </div>
    </div>
</form>
